.wrapper {
    text-align: center;
    position: relative;
    top: 2px
}

.profile {
    background-color: #f3f2f2;
    display: flex;
    padding: 100px;
    padding-left: 10px;
    overflow: auto;
    box-shadow: -8px 9px #a2a2a2;
}